{% extends 'base.html' %}
{% block content %}
    <h1>Вход</h1>
    <form method="post" action="{{ url_for('login')}}">
        {{ form.hidden_tag() }}
        <div class="text-center vintage-container">
            {{ form.username.label }}
            {{ form.username }}
        </div>
        <div class="text-center vintage-container">
            {{ form.password.label }}
            {{ form.password }}
        </div>
        <div class="text-center vintage-container">
            {{ form.submit }}
        </div>
    </form>
{% endblock %}